*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color1: palevioletred;
$color2: fuchsia;
$color3: pink;

.navbar{
    background-color: $color1;
    font-size: 25px;
    text-transform: capitalize;
}

.navbar-brand{
    font-size: 50px;
    color: $color2 !important;
}

.navbar span{
    color: black;
    font-size: 50px;
}

.nav-link{
    color: $color2 !important;
    padding-left: 20px !important;
}

.nav-link:hover{
    color: black !important;
    font-weight: bold;
    background-color: $color3 ;

}

.navbar-toggler{
    border: none
}

.fa-bars{
    color: $color2;
}





main{
    height: auto;
    width: 100%;
    background-color: $color3;
    background-position: center;
    padding: 5%;
}

.parrafo{
    height: auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align:justify;
}

.gal{
    width: 100%;
    border: 2px solid $color2;
    padding: 0px;
}

.boton{
    background-color: $color2;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton:hover{
    color: black;
}

h1{
    color: $color2;
    text-align: left;
    padding: 20px;
    font-size: 25px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

h2{
    background-color: $color3;
    color: $color2;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.galeria{
    width:100%;
    height: auto;
    background-color: $color3;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (8, 200px);
}

.item{
    height: 200px;
    width: 100%;
    border: 2px solid $color2;
    background-color: #444;
    background-size: cover;
    background-position: center;
    filter: sepia(0%);
    transition: all 0.9s;
}

.item:hover{
    filter: sepia(100%);
    transform: scale(0.9);
    transition: 0.9;
    
}
.item1{
    background-image: url(../img/img1.jpeg);
}
.item2{
    background-image: url(../img/img2.jpeg);
}
.item3{
    background-image: url(../img/img3.jpeg);
}
.item4{
    background-image: url(../img/img4.jpeg);
}
.item5{
    background-image: url(../img/img5.jpeg);
}
.item6{
    background-image: url(../img/img6.jpeg);
}
.item7{
    background-image: url(../img/img7.jpeg);
}
.item8{
    background-image: url(../img/img8.jpeg);
}

footer{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 25px;
    background-color:$color1;
    color: $color2;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

footer a{
    color: $color2;
    letter-spacing: 15px;
}


@media only screen and (min-width:480px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .galeria{
        grid-template-columns: repeat(3, 1fr)
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .item6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .item7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}
@media only screen and (min-width:1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px;
    }
}
